{{#table-data class="table table-bordered" records=(action "fetchAnimals") as |table-data|}}

  {{#table-data.filter properties=properties as |filter|}}
    {{#filter.header class="row pb-1" as |header|}}
      {{#header.addButton class="btn btn-primary col-1 offset-11"}}
        <i class="fa fa-plus" aria-hidden="true"></i>
      {{/header.addButton}}
    {{/filter.header}}

    {{#filter.body as |body|}}
      {{#body.row class="row pb-1" as |row|}}
        {{row.property class="col-4"}}
        {{row.comparator class="col-4"}}
        {{row.value class="col-3 text-center"}}
        {{#if (gt row.count 1)}}
          {{#row.deleteButton class="btn btn-danger col-1"}}
            <i class="fa fa-trash" aria-hidden="true"></i>
          {{/row.deleteButton}}
        {{/if}}
      {{/body.row}}
    {{/filter.body}}

    {{#filter.footer class="row" as |footer| }}
      {{#footer.filterButton class="btn btn-primary col-1 offset-10"}}
        <i class="fa fa-filter" aria-hidden="true"></i>
      {{/footer.filterButton}}
      {{#footer.clearButton class="btn btn-primary col-1"}}
        <i class="fa fa-refresh" aria-hidden="true"></i>
      {{/footer.clearButton}}
    {{/filter.footer}}
  {{/table-data.filter}}

  <div class="row">
    {{table-data.pageSize class="col-2"}}
    {{table-data.pagination class="col-6"}}
  </div>

  {{#table-data.table class="table-striped col-12" as |table|}}
    {{#table.thead as |thead|}}
      {{#thead.th sort="name" data-test-sort-name=true}}Name{{/thead.th}}
      {{#thead.th sort="age" data-test-sort-age=true}}Age{{/thead.th}}
      {{#thead.th sort="species" data-test-sort-species=true}}Species{{/thead.th}}
    {{/table.thead}}

    {{#table.body as |body animal|}}
      {{#body.row as |row|}}
        {{#row.cell}} {{animal.name}} {{/row.cell}}
        {{#row.cell}} {{animal.age}} {{/row.cell}}
        {{#row.cell}} {{animal.species}} {{/row.cell}}
      {{/body.row}}
    {{/table.body}}
  {{/table-data.table}}
{{/table-data}}
